@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500 700;
  src: url("./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

#root {
  font-family: 'Space Grotesk', sans-serif;
  width: 100dvw;
  height: 100dvh;
  overflow-x: hidden;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, textarea, button {font-family: inherit}

img {
  user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
